@import url('/usr/local/app/orm-pdfrenderer/ah-default.css');

@page { /* defining overall trim size and page layout */
  size: 7in 9.1875in; /* width, heigth */
  margin-top: 0.75in; /* white space around the page */
  margin-bottom: 0.75in;
}

@page :left {
  margin-left: 1.625in;
  margin-right: 1in;
  @bottom-left-corner {
    font-family: SourceSansPro, sans-serif;
    font-size: 9pt;
    text-align: left;
    margin-left: 0.375in;
    margin-top: 5pt;
  }
  @top-left {
    font-family: SourceSansPro, sans-serif;
    font-size: 8pt;
    text-align: left;
    margin-left: -1.25in;
    margin-top: 6pt;
  }
}

@page :right {
  margin-right: 1.625in;
  margin-left: 1in;
  @bottom-right-corner {
    font-family: SourceSansPro, sans-serif;
    font-size: 9pt;
    text-align: right;
    margin-top: 5pt;
    margin-right: 0.375in;
  }
  @top-right {
    font-family: SourceSansPro, sans-serif;
    font-size: 8pt;
    text-align: right;
    margin-right: -1.25in;
    margin-top: 6pt;
  }
}

@page :blank { /* defining a truly blank master page */
  @bottom-left {
	  content: none;
	}
	@bottom-right {
		content: none;
	}
}

/* general blocks */

li > p,
section[data-type="preface"] > h1 + p, 
div[data-type="part"] > h1 + p, 
section[data-type="chapter"] > h1 + p, 
section[data-type="chapter"] > h1 + div.author p, 
section[data-type="sect1"] > h1 + p, 
section[data-type="sect2"] > h2 + p,
section[data-type="sect3"] > h3 + p { 
  text-indent: 0in; /* first paragraph following a heading has no indent */
}

p, dd { /* general text styles */
  font-family: 'SourceSansPro', sans-serif;
  text-indent: 0.167in;
  font-size: 9.5pt;
  line-height: 13pt;
  margin: 0;
  text-align: justify;
  hyphens: auto;
}

/* global styles */

div[data-type="book"] {
  -ah-hyphenate-hyphenated-word: false;
  -ah-kerning-mode: pair;
}

/* general inlines */

a {
  color: cmyk(0%,0%,0%,80%);
  font-weight: bold;
  text-decoration: none;
}

/* PDF bookmarks */

nav[data-type="toc"] > h1 {
  bookmark-level: 1;
  bookmark-state: closed;
}

div[data-type="part"] > h1 {
  bookmark-level: 1;
  bookmark-state: closed;
}

section[data-type="preface"] > h1 {
  bookmark-level: 1;
  bookmark-state: closed;
}

section[data-type="chapter"] > h1 {
  bookmark-level: 1;
  bookmark-state: closed;
}

section[data-type="appendix"] > h1 {
  bookmark-level: 1;
  bookmark-state: closed;
}

section[data-type="sect1"] > h1 {
  bookmark-level: 2;
  bookmark-state: closed;
}

/* reset counters */

/* counters add auto-numbering to elements in the book. 
   This reset initiates the counters, enabling them 
   to begin numbering correctly. */

body[data-type="book"] {
  counter-reset: page 1 PartNumber ChapterNumber AppendixNumber FigureNumber TableNumber footnote;
}

/* frontmatter */

section[data-type="halftitlepage"], 
section[data-type="titlepage"] {
  page: blank;
  text-align: right;
  page-break-before: right; /* titlepages always start on a right-hand page */
  page-break-after: always;
}

section[data-type="halftitlepage"] h1, 
section[data-type="titlepage"] h1 {
  font-family: Merriweather, serif;
  border-bottom: 0.5pt solid cmyk(0%,0%,0%,100%);
  margin-top: 96pt;
  padding-bottom: 4pt;
  text-align: left;
}

section[data-type="halftitlepage"] h1 {
  font-size: 16pt;
  line-height: 18pt;
}

section[data-type="titlepage"] h1 {
  font-size: 20pt;
  line-height: 24pt;
  font-weight: normal;
}

section[data-type="titlepage"] h2 {
  font-family: 'OpenSans-SemiboldItalic', sans-serif;
  font-size: 12pt;
  line-height: 15pt;
  padding-left: 1.7in;
  margin-top: 13.5pt;
}

/* titlepage text font */

/* styling and positioning for author names */

section[data-type="titlepage"] div.author {
  margin-top: 82pt;
}

section[data-type="titlepage"] h2[data-type="author"] {
  font-family: Merriweather, serif;
  font-size: 11pt;
  text-align: left;
  font-weight: normal;
  font-style: normal;
}

/* copyright page */

section[data-type="copyright-page"] {
  page: blank;
  float: bottom;
  page-break-after: always;
}

section[data-type="copyright-page"] h1 {
  font-family: 'OpenSans-CondBold', sans-serif;
  font-size: 10pt;
}

section[data-type="copyright-page"] p {
  font-family: 'Crimson-Roman', serif;
  font-size: 10pt;
  margin: 6pt 0 6pt 0;
  text-indent: 0;
}

section[data-type="copyright-page"] div.author {
  margin: 0 0 18pt 0;
}

section[data-type="copyright-page"] div.author p {
  margin: 0;
}

section[data-type="copyright-page"] p.isbn {
  margin: 24pt 0;
}

/* dedication */

section[data-type="dedication"] {
  font-family: 'Crimson-Italic', serif;
  font-style: italic;
  page: blank;
  page-break-after: always;
  text-align: center;
  padding-top: 96pt;
}

/* table of contents */

@page toc:first {
  @bottom-right {
    content: counter(page, lower-roman);
  }
  @bottom-left {
    content: normal;
  }
}

@page toc:left {
  @bottom-left {
    content: counter(page, lower-roman);
  }
  @bottom-right {
    content: "Table of Contents";
  }
}

@page toc:right {
  @bottom-right {
    content: counter(page, lower-roman);
  }
  @bottom-left {
    content: "Table of Contents";
  }
}

@page toc:blank { 
  @bottom-left {
    content: none;
  }
  @bottom-right {
    content: none;
  }
}

/* adding page numbers to the table of contents */

nav[data-type="toc"] li[data-type="preface"] a:after, 
nav[data-type="toc"] li[data-type="forward"] a:after {
  font-family: 'Crimson-Semibold', serif;
  font-style: normal;
  content: leader(" ") target-counter(attr(href, url), page, lower-roman);
}

nav[data-type="toc"] li[data-type="chapter"] a:after, 
nav[data-type="toc"] li[data-type="appendix"] a:after {
  content: leader(" ") target-counter(attr(href, url), page, decimal);
}

/* global styles for the table of contents */

nav[data-type="toc"] { /* table of contents is a series of nested lists in a nav element */
  page: toc;
}

nav[data-type="toc"] a { /* all table of contents entries are also links */
  font-style: normal;
}

nav[data-type="toc"] li { /* no list marker on table of contents entries */
  list-style-type: none;
}

nav[data-type="toc"] > h1 { /* table of contents heading */
  font-size: 18pt;
  line-height: 22pt;
  margin-top: 72pt;
  margin-bottom: 42pt;
  text-align: center;
}

/* defining fonts for the table of contents */

nav[data-type="toc"] > h1, 
nav[data-type="toc"] li[data-type="chapter"], 
nav[data-type="toc"] li[data-type="part"], 
nav[data-type="toc"] li[data-type="appendix"], 
nav[data-type="toc"] li[data-type="chapter"] > a:after, 
nav[data-type="toc"] li[data-type="appendix"] > a:after {
  font-family: 'OpenSans-CondBold', sans-serif;
}

nav[data-type="toc"] li[data-type="preface"] a, 
nav[data-type="toc"] li[data-type="foreword"] a, 
nav[data-type="toc"] li[data-type="glossary"] a, 
nav[data-type="toc"] li[data-type="index"] a {
  font-family: 'Crimson-SemiboldItalic', serif;
  font-style: italic;
}

nav[data-type="toc"] li[data-type="chapter"] li a:after, 
nav[data-type="toc"] li[data-type="appendix"] li a:after, 
nav[data-type="toc"] li[data-type="chapter"] ol {
  font-family: 'Crimson-Roman', serif;
}

nav[data-type="toc"] li[data-type="chapter"], 
nav[data-type="toc"] li[data-type="part"], 
nav[data-type="toc"] li[data-type="appendix"] { 
  font-size: 11pt;
  line-height: 12pt;
  text-transform: uppercase;
  margin-left: 0;
  text-indent: 0;
}

/* entries for parts in the table of contents */

nav[data-type="toc"] li[data-type="part"] { 
  margin-top: 18pt;
}

nav[data-type="toc"] li[data-type="part"] > a { 
  border-bottom: 0.25pt solid cmyk(0%,0%,0%,100%);
  width: 100%;
  display: inline-block;
}

nav[data-type="toc"] li[data-type="part"] ol {
  margin-left: 0;
  text-indent: 0;
}

/* entries for chapters and appendixes in the table of contents */

nav[data-type="toc"] li[data-type="chapter"] { 
  margin-top: 12pt;
}

nav[data-type="toc"] li[data-type="chapter"]:last-of-type, 
nav[data-type="toc"] li[data-type="appendix"] { 
  margin-bottom: 12pt;
}

nav[data-type="toc"] li[data-type="chapter"] > a:after, 
nav[data-type="toc"] li[data-type="appendix"] > a:after { /* chapter/appendix page numbers */
  font-size: 11pt;
}

/* entries for sub-sections */

nav[data-type="toc"] li[data-type="chapter"] ol { 
  font-size: 9pt;
  line-height: 11pt;
  margin-left: 0.33in;
  text-indent: -0.1667in;
  text-transform: none;
}

nav[data-type="toc"] li[data-type="chapter"] ol ol { 
  margin-left: 0.1667in;
  text-indent: -0.1667in;
  text-transform: none;
}

nav[data-type="toc"] li[data-type="chapter"] li a:after, 
nav[data-type="toc"] li[data-type="appendix"] li a:after { /* sub-section page numbers */
  font-size: 9pt;
}

/* front and backmatter in the table of contents */

nav[data-type="toc"] li[data-type="preface"], 
nav[data-type="toc"] li[data-type="foreword"], 
nav[data-type="toc"] li[data-type="glossary"], 
nav[data-type="toc"] li[data-type="index"] {
  font-size: 9pt;
  line-height: 11pt;
}

nav[data-type="toc"] li[data-type="preface"] ol, 
nav[data-type="toc"] li[data-type="foreword"] ol {
  display: none;
}

/* preface, chapter, and appendix headings */

/* shared styles for all chapter-level headings */
section[data-type="preface"] > h1, 
section[data-type="chapter"] > h1, 
section[data-type="appendix"] > h1 {
  font-family: 'Merriweather', serif;
  line-height: 22pt;
  margin-bottom: 0.9in;
  margin-top: 0.5in;
  text-align: right;
}

section[data-type="preface"] > h1 {
  string-set: ChapterTitle self;
}

section[data-type="chapter"] > h1 {
  string-set: ChapterTitle self, SectionTitle self;
  counter-increment: ChapterNumber;
}

section[data-type="appendix"] > h1 {
  string-set: ChapterTitle self;
  counter-increment: AppendixNumber;
}

/* chapter and appendix headings include auto-numbering */
section[data-type="chapter"] > h1:before, 
section[data-type="appendix"] > h1:before {
  font-family: 'OpenSans-Semibold', sans-serif;
  font-size: 9pt;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-top: 22pt;
  margin-bottom: 34pt;
}

section[data-type="chapter"] > h1:before {
  content: "Chapter " counter(ChapterNumber);
}

section[data-type="appendix"] > h1:before {
  content: "Appendix " counter(AppendixNumber, upper-alpha);
}

/* section headings */

section[data-type="sect1"] > h1 { /* A-level headings */
  font-family: 'Merriweather', serif;
  font-weight: normal;
  font-size: 12pt;
  line-height: 14pt;
  margin-top: 18pt;
  margin-bottom: 14pt;
  string-set: SectionTitle self; /* A-heads are also displayed in chapter footers */
}

section[data-type="sect2"] > h2 { /* B-level headings */
  font-family: 'Merriweather', serif;
  font-weight: normal;
  font-size: 8.5pt;
  line-height: 12pt;
  margin-top: 12pt;
  margin-bottom: 6pt;
  text-transform: uppercase;
}

section[data-type="sect3"] > h3 { /* C-level headings */
  font-family: 'Merriweather', serif;
  font-weight: normal;
  font-size: 9pt;
  line-height: 14pt;
  margin-top: 9pt;
  margin-bottom: 3pt;
}

/* prefaces */

section[data-type="preface"] > h1 {
  font-size: 16pt;
  font-weight: normal;
}

@page preface:first {
  @bottom-right-corner {
    content: counter(page, lower-roman);
  }
  @top-right {
    content: none;
  }
}

@page preface:left {
  @top-left {
    content: string(ChapterTitle);
  }
  @bottom-left-corner {
    content: counter(page, lower-roman);
  }
}

@page preface:right {
  @top-right {
    content: string(ChapterTitle);
  }
  @bottom-right-corner {
    content: counter(page, lower-roman);
  }
}

@page preface:blank { 
  @bottom-left-corner {
    content: none;
  }
  @bottom-right-corner {
    content: none;
  }
  @top-right {
    content: none;
  }
  @top-left {
    content: none;
  }
}

section[data-type="preface"] {
  page: preface;
  page-break-before: right; /* forces the preface to start on a right hand page */
  counter-reset: FigureNumber TableNumber footnote; /* setting auto-numbers for figures, tables, and footnotes to start at 1 */
}

/* parts */

div[data-type="part"] {
  page: blank;
  page-break-before: right;
}

div[data-type="part"] > h1 {
  font-family: 'OpenSans-CondBold', sans-serif;
  font-size: 18pt;
  line-height: 22pt;
  text-align: center;
  margin-top: 0;
  margin-bottom: 28pt;
  counter-increment: PartNumber;
}

div[data-type="part"] > h1:before {
  font-family: 'OpenSans-Semibold', sans-serif;
  font-size: 11pt;
  text-transform: uppercase;
  content: "Part " counter(PartNumber);
  display: block;
  text-align: center;
  margin-top: 72pt;
  margin-bottom: 34pt;
}

/* chapters */

@page chapter:first {
  @top-right {
    content: none;
  }
}

@page chapter:left {
  @bottom-left-corner {
    content: counter(page);
  }
  @top-left {
    content: "CHAPTER "counter(ChapterNumber)": "string(ChapterTitle);
  }
}

@page chapter:right {
  @bottom-right-corner {
    content: counter(page);
  }
  @top-right {
    content: string(SectionTitle);
  }
}

@page chapter:blank { 
  @bottom-left-corner {
    content: none;
  }
  @bottom-right-corner {
    content: none;
  }
  @top-right {
    content: none;
  }
  @top-left {
    content: none;
  }
}

/* page number resets to 1 on the first chapter */

section[data-type="chapter"]:first-of-type {
  counter-reset: page 1;
}

section[data-type="chapter"] {
  page: chapter;
  page-break-before: right; /* forces new chapters to start on a right hand page */
  counter-reset: TableNumber FigureNumber footnote;
}

/* appendixes */

@page appendix:first {
  @bottom-left {
    content: normal;
  }
}

@page appendix:left {
  @bottom-left {
    content: counter(page);
  }
  @bottom-right {
    content: "Appendix "counter(AppendixNumber, upper-alpha)", "string(ChapterTitle);
  }
}

@page appendix:right {
  @bottom-right {
    content: counter(page);
  }
  @bottom-left {
    content: string(SectionTitle);
  }
}

section[data-type="appendix"] {
  page: appendix;
  page-break-before: right; /* forces new chapters to start on a right hand page */
  counter-reset: FigureNumber TableNumber footnote;
}

/* lists */

ul, ol { /* bulleted and numbered lists */
  margin: 7pt 0 7pt .33in;
}

ul li, ol li {
  font-family: 'Crimson-Roman', serif;
  font-size: 11pt;
  line-height: 14pt;
  margin-top: 3pt;
}

dl { /* definition lists */
  margin-bottom: 7pt;
}

dt { /* definition list terms */
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 8.5pt;
  line-height: 14pt;
  margin-top: 7pt;
}

dd { /* definition list descriptions */
  text-indent: 0;
  margin-left: 0.1667in;
}

/* tables */

table {
  margin-top: 22pt;
  margin-bottom: 22pt;
  border-bottom: .5pt solid cmyk(0%,0%,0%,100%);
  border-collapse: collapse;
}

table caption {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 8.5pt;
  line-height: 14pt;
  text-align: left;
  margin: 0 0 13pt 0;
  padding: 0;
}

table caption:before { /* table captions are auto-numbered via the following */
  counter-increment: TableNumber;
  content: "Table " counter(ChapterNumber)"-"counter(TableNumber)". ";
  font-family: 'OpenSans-Semibold', sans-serif;
}

tr {
  border-width: 0px;
}

th { /* table heading rows */
  font-family: 'OpenSans-CondBold', sans-serif;
  font-size: 8pt;
  line-height: 10pt;
  text-align: left;
  margin-top: 0;
  border-top: 0.5pt solid cmyk(0%,0%,0%,100%);
  border-bottom: 0.5pt solid cmyk(0%,0%,0%,100%);
}

th, td {
  padding: 4.5pt 0.0625in 4.5pt 0.0625in;
}

td, table p { /* table body text */
  font-family: 'OpenSans-CondLight', sans-serif;
  font-size: 9pt;
  line-height: 10pt;
}

table p { /* table body text */
  text-indent: 0;
  margin-top: 4pt;
}

td pre.programlisting, td pre.screen, td pre.literallayout, td code { /* allow code in tables to wrap */
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* figures */

figure { /* figure containers */
  margin-top: 13pt;
  margin-bottom: 16pt;
  padding: 0;
  display: block;
  page-break-inside: avoid;
}

figure img { /* figure images */
  max-width: 100%;
  margin: 0;
}

figcaption { /* figure captions */
  font-family: 'OpenSans-Reguar', sans-serif;
  font-size: 8.5pt;
  line-height: 11pt;
  border-top: 0.5pt solid cmyk(0%,0%,0%,100%);
  padding-top: 4pt;
  margin-top: 0pt;
  display: block;
}

figcaption:before { /* figure captions are auto-numbered via the following */
  font-family: 'OpenSans-Semibold', sans-serif;
  counter-increment: FigureNumber;
  content: "Figure " counter(ChapterNumber) "-" counter(FigureNumber) ". ";
}

/* sidebars */

aside { /* sidebar containers */
  border: 0.5pt solid cmyk(0%,0%,0%,100%);
  padding: 18pt 0.1667in 12pt 0.1667in;
  margin: 14pt 0 14pt 0;
}

aside h5 { /* sidebar titles */
  font-family: 'OpenSans-CondBold', sans-serif;
  font-size: 11pt;
  line-height: 13pt;
  text-align: center;
  margin: 0;
  padding: 0;
}

aside h6 { /* sidebar subtitles */
  font-family: 'Crimson-Bold', serif;
  font-size: 9.5pt;
  line-height: 12pt;
}

aside p { /* sidebar text */
  font-size: 9.5pt;
  line-height: 12pt;
  text-indent: 0;
  margin-top: 4pt;
}

/* admonitions */

div[data-type="note"], 
div[data-type="warning"] { /* admonition containers */
  border-top: .5pt solid cmyk(0%,0%,0%,100%);
  border-bottom: .5pt solid cmyk(0%,0%,0%,100%);
  padding: 7pt 0 7pt 0;
  margin: 16.5pt .33in 10pt .33in;
  page-break-inside: avoid; /* avoid breaking admonitions across pages */
}

div[data-type="note"] h1, 
div[data-type="warning"] h1 { /* admonition titles */
  font-family: 'OpenSans-ExtraBold', sans-serif;
  font-size: 7pt;
  text-transform: uppercase;
  text-align: center;
  margin: 2pt 0;
  padding: 0;
}

div[data-type="note"] p, 
div[data-type="warning"] p { /* admonition text */
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 8pt;
  line-height: 11pt;
  text-indent: 0in;
}

/* code */

pre, code { /* monospace font for both code blocks and inline code */
  font-family: 'UbuntuMono-Regular', monospace;
}

pre { /* code blocks */
  font-size: 9pt;
  line-height: 11pt;
  margin: 7pt 0 7pt 0.1667in;
}

code { /* inline code */
  font-size: 9.5pt;
  line-height: 14pt;
}

table pre { /* code blocks within tables */
  text-indent: 0;
}

div[data-type="note"] code, 
div[data-type="warning"] code, 
aside code, 
table code { /* inline code within notes, sidebars and tables */
  font-size: inherit;
  line-height: inherit;
}

/* blockquote */

blockquote {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 7.5pt;
  line-height: 11pt;
  margin-left: 0.1667in;
}

blockquote p {
  text-indent: 0;
}
