@import url('pdf.css');

/* Set bleed/crop marks */
@page {
	bleed: 9pt;
	marks: crop;
	-ah-printer-marks-line-color: rgb-icc(#Grayscale, 0);
}

/* Suppress cover image */
body[data-type="book"] > figure[data-type="cover"] { display: none }

figure[data-type="cover"] { page: blank }